@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
#root {
  font-family: 'Titan One', cursive;
  height: 100vh;
  
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(124, 133, 136);
  height: 100vh;
  
}

.Arrow {
  
  position: absolute;
      top: 70%;
      left: 40%;
      margin-right: -50%;
      border-radius: 100vw;
      z-index: 99;
      background-color: white;
      
    }
    
    .SPACE {
      display: flex;
      align-items: center;
      position: absolute;
      left: 39%;
      width: 25%;
      height:2%;
      border: 1px solid black;
  top: 76%;
  transition: 1000ms;
  
  z-index: 99;
}

.ScoreBubble{
  position: absolute;
  font-size: 2rem;
  overflow: hidden;
  top: 35%;
  right: 43%;
  opacity: 1;
  transform: scale(2);
  transition: cubic-bezier(0.64, 0.57, 0.67, 1.53) 2000ms ease-in-out;


 
}

.scoreBoard{
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: 2rem;
  border: 1px solid black;
  width: 20%;
  
  position: absolute;
  top:80%;
  right: 0%;
}

.perfZone {
  position: absolute;
  width: 10%;
  height: 80%;
  left: 80%;
  
  border-radius: 100vw;
  background-color: rgb(182, 214, 182);
}

.textexpand {
  position: absolute;
  font-size: 2rem;
  
  top: 25%;
  right: 43%;
  
  
}