#root {
  height: 100vh;
  
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(124, 133, 136);
  height: 100vh;
  
}

.Arrow {
  
  position: absolute;
      top: 70%;
      left: 40%;
      margin-right: -50%;
      
      z-index: 99;
    }
    
    .SPACE {
      position: absolute;
      left: 39%;
      width: 25%;
      height:2%;
      border: 1px solid black;
  top: 76%;
  transition: 1000ms;
  
  z-index: 99;
}

.ball {
  position: absolute;
  display: inline-block;

animation: Spread 3s linear infinite;  
}

@keyframes Spread {
  from {
    left: 0%;
  }
  to {
    left: 98%;
  }
}